.container{
  background-color: rgba(24, 22, 22, 0.932);
  align-items: center;
  width: 100%;
  height: 100px;
  color: rgb(165, 169, 173);
}

ul { 
  margin-top: 1em;
  list-style: none;
  list-style-type: none; 
}

li {
  display: flex;
  float: right;
  align-items: center;
  width: 3em;
}

